{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour Trust</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

        <!-- Global CSS -->
    
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{%static 'css/index.css' %}">
    <link rel="stylesheet" href="{%static 'css/destination.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/comment.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'css/heroslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/route.css' %}">
</head>
<body>
    {% include 'components/navbar.html' %}
    

    <!-- Page Content Goes Here -->
    {% block content %}
    <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>
      {% if user.is_authenticated %}
      <form action="" method="get">
        {% csrf_token %}
        {{user.username}}
        </form>
      
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
      
      </form>

       {% else %}
      <a href="{% url "register" %}" class="btn btn-warning">Register</a>
      <a href="{% url "login" %}" class="btn btn-success">Login</a> 

      
      {% endif %}
    {% endblock %}
    
    {% include 'components/footer.html' %}

    

    <!-- Global JS -->
     <script src="{% static 'js/destination.js' %}"></script>
     <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/hero.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
    <script src="{% static 'js/indexcomment.js' %}"></script>
    <script src="{% static 'js/card.js' %}"></script>
    <script src="{% static 'js/gallery.js' %}"></script>
    <script src="{% static 'js/route.js' %}"></script>
    
</body>
</html>
