<nav class="navbar">
  <div class="navbar-container">
    <div class="logo">
      <a href="/">Tourist Platform</a>
    </div>

    <!-- Desktop Links -->
    <ul class="nav-links">
      <li><a href="/"><i class="fa-solid fa-house"></i> Home</a></li>
      <li><a href="{% url 'about_us' %}"><i class="fa-solid fa-info-circle"></i> About</a></li>
      <li><a href="#"><i class="fa-solid fa-box-open"></i> Package</a></li>
      <li><a href="{% url 'equipment' %}"><i class="fa-solid fa-suitcase-rolling"></i> Equipment</a></li>
      <li><a href="{% url 'contact_us' %}"><i class="fa-solid fa-envelope"></i> Contact</a></li>
      <li><a href="{% url 'route' %}"><i class="fa-solid fa-road"></i> Route</a></li>
    </ul>

    <!-- Search bar -->
    <div class="search-bar">

      <form class="d-flex" role="search" action="{% url 'search' %}" method="get">
        {% csrf_token %}
        <input class="form-control me-2 mt-5" type="search" placeholder="Search" aria-label="Search" name="query">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <!-- <button class="btn btn-outline-success" type="submit" >Search</button> -->
      </form>
    </div>

  <t class="d-flex flex-row">
     {% if user.is_authenticated %}
      <form action="" method="get">
        {% csrf_token %}
        {{user.username}}
        </form>
      
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Logout</button>
      
      </form>

       {% else %}
       <a href="{% url "register" %}" class="btn btn-warning" style="color:rgb(150, 162, 172); text-decoration:none;">Register</a>
        </t>
       <a href="{% url "login" %}" class="btn btn-success"style="color:rgb(150, 162, 172); text-decoration:none">Login</a> 
      
      

      
      {% endif %}
  </div>

    

    <!-- Hamburger -->
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <!-- Mobile vertical icon-only menu -->
<ul class="mobile-menu">
    <li>
        <a href="/"><i class="fa-solid fa-house"></i><span class="menu-text">Home</span></a>
    </li>
    <li>
        <a href="#"><i class="fa-solid fa-info-circle"></i><span class="menu-text">About</span></a>
    </li>
    <li>
        <a href="#"><i class="fa-solid fa-box-open"></i><span class="menu-text">Package</span></a>
    </li>
    <li>
        <a href="#"><i class="fa-solid fa-suitcase-rolling"></i><span class="menu-text">Equipment</span></a>
    </li>
    <li>
        <a href="#"><i class="fa-solid fa-envelope"></i><span class="menu-text">Contact</span></a>
    </li>
</ul>
</nav>